pre {
	font-size: 13px;
	line-height: 17px;
	font-family: Courier New, monospace, Segoe UI Symbol;
	white-space: pre-wrap;
}
.game-log {
	max-height:700px;
    overflow:auto;
}
.toast-message { 
	font-weight: bold; 
}
